<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./Vue/vue.min.js"></script>
</head>
<body>
    <!-- <div id="app">
        <input type="text" placeholder="please input message" v-model="message">
        <br>
        message is : {{message}}
        <br>
        <p>{{message}}</p>
        <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>
        <hr>
        <input type="checkbox" v-model="value1">{{value1}}
        <input type="checkbox" v-model="value2">{{value2}}
        <input type="radio">
        <p>checkName is:{{checkName}}</p>
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                message:"hello",
                value1:true,
                value2:false,
                checkName:[]
            }
        })
    </script> -->
    <!-- <div id="app">
        <input type="checkbox" v-model="cN" value="Jack">
        <label for="">Jack</label>
        <input type="checkbox" v-model="cN" value="Jeffery">
        <label for="">Jeffery</label>
        <p>check Name is {{cN}}</p>
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                cN:[]
            }
        })
    </script> -->
    <!-- <div id="app">
        <input type="radio" v-model="pick" value="One">
        <label for="one">One</label>
        <br>
        <input type="radio" value="Two" v-model="pick">
        <label for="two">Two</label>
        <p>Picked: {{pick}}</p>
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
              pick:''  
            }
        })
    </script> -->
    <div id="app">
        <select name="" id="" v-model="selected">
            <option disabled value="">Please select</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <p>your choice is: {{selected}}</p>
        <select name="" id="" multiple v-model="selectedArray">
            <option disabled value="">Please select</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <p>your choice is: {{selectedArray}}</p>
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
              selected:'',
              selectedArray:[]
            }
        })
    </script>
</body>
</html>