<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../day5/Vue/vue.js"></script>
</head>

<body>
    <div id='app'>
        <form @submit.prevent="demo">
            <label for="admin">账号</label>
            <input type="text" id="admin" v-model.trim="userInfo.account">
            <br>
            <br>
            <label for="pw">密码</label>
            <input type="password" id="pw" v-model="userInfo.passWord">
            <br>
            <br>
            性别：
            <label for="male">男</label>
            <input type="radio" id="male" v-model="userInfo.sex" value="male">
            <label for="female">女</label>
            <input type="radio" id="female" v-model="userInfo.sex" value="female">
            <br>
            <br>
            爱好：
            <label for="smoke">抽烟</label>
            <input type="checkbox" id="smoke" v-model="userInfo.hobby" value="smoke">
            <label for="drink">喝酒</label>
            <input type="checkbox" id="drink" value="drink" v-model="userInfo.hobby">
            <label for="hair">烫头</label>
            <input type="checkbox" id="hair" value="hair" v-model="userInfo.hobby">
            <br>
            <br>
            <label for="age">年龄：</label>
            <input type="number" name="" id="age" v-model.number="userInfo.age">
            <br>
            <br>
            所属校区：
            <select name="" id="" v-model="userInfo.city">
                <option value="">请选择校区</option>
                <option value="beijin">北京</option>
                <option value="shanghai">上海</option>
                <option value="guanzhou">广州</option>
                <option value="chengdu">成都</option>
            </select>
            <br>
            <br>
            <label for="otherInfo">其他信息</label>
            <textarea name="" id="otherInfo" cols="30" rows="10" v-model.lazy="userInfo.other"></textarea>
            <br>
            <br>
            <input type="checkbox" name="" id="read" v-model="userInfo.agree">
            <label for="read">阅读并接受</label>
            <a href="#">《用户协议》</a>
            <br>
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
    <script>
        Vue.config.productionTip = false
        var vm = new Vue({
            el: '#app',
            data: {
                userInfo: {
                    account: "",
                    passWord: "",
                    sex: 'male',
                    hobby: [],
                    age: 18,
                    city: 'beijin',
                    other: '',
                    agree: ''
                }
            },
            methods: {
                demo() {
                    alert("form has been submited")
                    console.log(JSON.stringify(this.userInfo))
                }
            },
        })
    </script>
</body>

</html>