<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./Vue/vue.min.js"></script>
</head>

<body>
    <!-- <div id="app">
        {{list}}
        <hr>
        {{list[0]}}
        <hr>
        {{list[0].title}}
        <hr>
        {{list[0].del}}
        <hr>
        <ul>
            <li>
                <span v-if="!list[0].del">{{list[0].title}}</span>
                <span v-else style="text-decoration: line-through;">{{list[0].title}}</span>
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "hello world",
                list: [
                    {
                        title: "课程1",
                        del: false
                    }
                ]
            }
        })
    </script> -->
    <!-- <div id="app">
        <ul>
            <li v-for="t in list">
                {{t.text}}
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                list:[
                    {text:"JS"},
                    {text:"CSS"},
                    {text:"HTML"}
                ]
            }
        })
    </script> -->
    <div id="app">
        <ul>
            <li v-for="message">
                <span>{{message.name}}</span>
                <span>{{message.gender}}</span>
            </li>
        </ul>
        <zj></zj>
        <zj></zj>
        <zj></zj>
    </div>

    <script>
        Vue.component("zj", {
            props: {
                name:String,
                gender:String,
            },
            template: `
            <ul>
                <li v-for="message">
                    <span>{{message.name}}</span>
                    <span>{{message.gender}}</span>
                </li>
            </ul>
            `,
            data: function () {
                return {
                    message: {
                        name: "J",
                        gender: "K"
                    }
                }
            }
        })
        var app = new Vue({
            el: "#app",
            data: {
                message: {
                    name: "J",
                    gender: "K"
                }
            }
        })
    </script>
</body>

</html>